@page
@model Raftelis_Interview_WebApp.Pages.ThankyouModel
@{
    ViewData["Title"] = "Thank You";
}
<h1>@ViewData["Title"]</h1>

<p>Thank you for giving me the opportunity to apply and showcase my skills through this project.</p>
